<div class="main container-fluid" *ngIf="sessionData">
  <!-- ============================================================== -->
  <!-- ======================= TESTING BUTTON ======================= -->
  <!-- <button class="btn btn-outline-primary" (click)="toggleSessionsData()">
    TOGGLE
  </button> -->

  <div class="head">
    <h2>{{ sessionData.sessionName }}</h2>
  </div>

  <div
    class="movies section"
    *ngIf="sessionData.movieData && sessionData.movieData.length > 0"
  >
    <div class="subHead">
      <button
        *ngFor="let tab of availableTabs"
        (click)="switchTab(tab)"
        [ngClass]="tab == viewingTab ? 'btn' : 'btnNotSelected btn'"
      >
        {{ tab }}
      </button>
    </div>

    <!-- ================================================================= -->
    <!-- ======================= MOVIES ACTIVE TAB ======================= -->
    <div class="VScrollArea" *ngIf="viewingTab == 'Movies'">
      <div class="singleData col-2" *ngFor="let data of sessionData.movieData">
        <app-movie-card
          [movieData]="data"
          [sessionData]="sessionData"
          [urlSession]="urlSession"
        ></app-movie-card>

        <div class="bottomOptions">
          <button class="" (click)="setAndToggleInfoSelection(data)">
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <circle cx="50" cy="50" r="50" fill="white" />
            </svg>
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <circle cx="50" cy="50" r="50" fill="white" />
            </svg>
            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <circle cx="50" cy="50" r="50" fill="white" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- ================================================================= -->
    <!-- ======================= IMAGES ACTIVE TAB ======================= -->
    <div class="VScrollArea" *ngIf="viewingTab == 'Images'">
      <div class="singleData col-2" *ngFor="let data of sessionData.imageData">
        <app-image-card
          [imageData]="data"
          [sessionData]="sessionData"
          [urlSession]="urlSession"
        ></app-image-card>
      </div>
    </div>
  </div>
</div>

<!-- ================================================================= -->
<!-- =========================== INFO POPUP ========================== -->
<div class="movieInfo" *ngIf="infoSelected">
  <div class="header">
    <h3>Info</h3>

    <button
      class="closeBtn"
      (click)="setAndToggleInfoSelection(undefined)"
    >
      X
    </button>
  </div>

  <div class="body">
    <dl *ngFor="let obj of infoSelected" class="dataRow">
      <dt>
        {{ normalizeFromCamel(obj.name) }}
      </dt>
      <dd>
        {{ obj.value }}
      </dd>
    </dl>
  </div>

  <div class="footer">
    <button class="btn editInfoBtn">Edit this</button>
  </div>
</div>

<!-- Match Info Popover -->
<!-- <div class="matchInfo popOver" *ngIf="showMatchInfo">
  <div class="header">
    <h6>Info</h6>
    <button
      class="btn closeBtn"
      (click)="setAndToggleMatchPopOver(undefined, false)"
    >
      X
    </button>
  </div>
  <p>
    There is only a
    <span>{{
      matchInfoClickData && matchInfoClickData.probableMatch
        ? matchInfoClickData.probableMatch * 100 + '%'
        : '100%'
    }}</span>
    this is the movie represented on your drive based on searching the local
    movie database.
  </p>
  <p>Original term used to search:</p>
  <p>
    <span>
      {{
        matchInfoClickData && matchInfoClickData.originalSearchValue
          ? matchInfoClickData.originalSearchValue
          : 'test'
      }}
    </span>
  </p>
</div> -->

<!-- ============================================================== -->
<!-- ======================== Session Data ======================== -->
<!-- <div
  class="sessionDataOuter"
  [classList]="
    this.showSessionsData
      ? 'sessionDataOuter slideFromRight'
      : 'sessionDataOuter slideFromLeft'
  "
>
  <div class="head">
    <button (click)="toggleSessionsData()" class="btn">X</button>
    <h4>Session info.</h4>
  </div>
  <div class="body">
    <dl *ngFor="let datum of objectKeys(sessionData); let i = index">
      <dt>{{ datum }}:</dt>
      <dl>{{ sessionData[datum] }}</dl>
    </dl>
  </div>
</div> -->

<!-- </div> -->

<!-- ============================================================= -->
<!-- ====================== LOADING OVERLAY ====================== -->
<app-loading [showing]="!sessionData ? true : false"></app-loading>

<!-- ============================================================= -->
<!-- <app-image-viewer
  [imageData]="imageViewerData"
  [show]="showImgViewer"
  [toggleImageViewer]="toggleImageViewer"
>
</app-image-viewer> -->
