<div class="container-fluid main-top">
  <section class="container-fluid fileSearchInputSection">
    <div class="row">
      <div class="col-9 leftCols">
        <h1 class="display-3 heading">File Search</h1>

        <!-- ========================================================= -->
        <!-- ====================== TEST BUTTON ====================== -->
        <!-- <button
          type="button"
          class="btn btn-outline-primary"
          style="margin: 0 1rem 2.5rem"
          data-bs-toggle="modal"
          data-bs-target="#sessionNameModal"
        >
          😊 Button 😊
        </button> -->

        <div class="row">
          <!-- ========================================================= -->
          <!-- ====================== LEFT COLUMN ====================== -->
          <div class="formOuterCol col">
            <form
              id="fileDirForm"
              [formGroup]="pathForm"
              (ngSubmit)="getFiles()"
              class="container"
            >
              <div class="f1">
                <div class="formDescriptionText">
                  <p>
                    Please enter the path for the directory of movies below,
                    then press "Search" or navigate to the directory by clicking
                    the appropriate links below.
                  </p>
                  <p>
                    When the selected path
                    <em>(in the middle)</em> is correct, press "Use This Path"
                  </p>
                </div>

                <div class="inputOuter">
                  <input
                    type="text"
                    formControlName="path"
                    class="form-control"
                    id="path"
                    aria-describedby="pathHelp"
                    placeholder="paste a directory path here"
                  />
                  <div id="pathHelp" class="form-text">
                    Recommended: Paste a path from File Explorer here & then
                    press "Submit"
                  </div>
                </div>
              </div>

              <div class="formBtnContainer">
                <button type="submit" class="btn formBtn">Search</button>
              </div>
            </form>
          </div>

          <!-- ========================================================= -->
          <!-- ==================== MIDDLE COLUMN ====================== -->
          <div class="col-5 selectedPathCol">
            <div
              id="selectedPathCard"
              class="row blackCard"
              *ngIf="directoryResult && !directoryResult['error']"
            >
              <div class="leftText">
                <h3>Selected Path:</h3>
                <div class="selection">
                  <h4 *ngFor="let part of directoryResult.splitDirectory">
                    <a (click)="navUpFromPathVal(part)">{{ part }}</a
                    >/
                  </h4>
                </div>
              </div>

              <div class="formBtnContainer">
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#sessionNameModal"
                >
                  Use This Path
                </button>
              </div>
            </div>

            <!-- ================== ERROR ================== -->
            <div
              *ngIf="directoryResult && directoryResult.error"
              class="errorDiv blackCard"
            >
              <div class="leftText">
                <h3>Ah Sh*t ...</h3>
                <p>
                  {{ directoryResult.error }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ========================================================= -->
      <!-- ==================== RIGHT COLUMN ======================= -->
      <div
        class="col-3 statsCol"
        *ngIf="directoryResult && !directoryResult.error"
      >
        <div class="blackCard row">
          <div class="head">
            <h3>Stats</h3>
          </div>

          <div class="dataOuter">
            <div *ngFor="let title of objectKeys(directoryResult.stats)">
              <dl>
                <dt>
                  {{ normalizeFromCamel(title) }}
                </dt>

                <ul
                  class="list-unstyled row"
                  *ngFor="let stat of directoryResult.stats[title.toString()]"
                >
                  <div *ngIf="stat.type && stat.type == 'base'" class="row">
                    <dd class="left col">
                      {{ normalizeFromCamel(stat.name) }} :
                    </dd>
                    <dd class="right col">
                      {{ stat.value }}
                    </dd>
                  </div>
                  <div
                    *ngIf="stat.type && stat.type == 'errors' && stat.value > 0"
                    class="row errors"
                  >
                    <dd class="left col">
                      {{ normalizeFromCamel(stat.name) }}
                    </dd>
                    <dd class="right col">{{ stat.value }}</dd>
                  </div>
                  <div
                    *ngIf="stat.type && stat.type == 'file_type'"
                    class="row"
                  >
                    <li class="left col">
                      {{ normalizeFromCamel(stat.name) }}
                    </li>

                    <li class="right col">
                      {{ stat.value }}
                    </li>
                  </div>
                </ul>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ========================================================= -->
  <!-- =============== ROW 2 - FILES & FOLDERS ================= -->
  <section
    *ngIf="directoryResult && !directoryResult.error"
    class="filesNFoldersSection container-fluid"
  >
    <!-- ========== LEFT (files) ========== -->
    <div class="fileFolderCol col-4">
      <div class="colInner">
        <h3 class="head">Files</h3>
        <dl>
          <div class="textOuter">
            <dt>File name</dt>
            <dt>File types</dt>
          </div>

          <div class="filesScroll">
            <span *ngFor="let file of directoryResult.files">
              <div
                *ngIf="removeFileExtension(file) && getFileExtension(file)"
                class="textOuter ddOuter"
              >
                <dd class="fileName">{{ removeFileExtension(file) }}</dd>
                <dd class="extension">{{ getFileExtension(file) }}</dd>
              </div>
            </span>
          </div>
        </dl>
      </div>
    </div>

    <!-- ========== RIGHT (folders) ========== -->
    <div class="fileFolderCol col">
      <div class="colInner">
        <h3 class="head">Folders</h3>
        <dl class="textOuter folderSubhead">
          <dt>Folder Name</dt>
          <small>(Click a folder to set the path to that folder)</small>
        </dl>

        <div class="folderOuter">
          <button
            (click)="getSubDir(folder)"
            *ngFor="let folder of directoryResult.folders"
          >
            {{ folder }}
          </button>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- ========================================================= -->
<!-- ====================== ERROR POPUP ====================== -->
<div *ngIf="customAlert.show" class="customAlert">
  <div *ngIf="customAlert.heading" class="head">
    <h5>{{ customAlert.heading }}</h5>
    <button (click)="cancelCustomError()" class="btn">X</button>
  </div>

  <div class="body">
    <p>{{ customAlert.message }}</p>
    <small>
      <em>{{ customAlert.type }}</em>
    </small>
  </div>
</div>

<!-- ========================================================= -->
<!-- ==================== LOADING OVERLAY ==================== -->
<div *ngIf="isLoading" class="loader">
  <h2>Loading...</h2>
  <span class="animObj0"></span>
</div>

<!-- ========================================================= -->
<!-- =========== modal for submitting & continuing =========== -->
<div
  id="sessionNameModal"
  class="modal sessionNameModal"
  *ngIf="directoryResult && directoryResult.directory"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="sessionForm" (ngSubmit)="submitSessionName()">
        <div class="modal-header">
          <h5 *ngIf="!this.hasSubmitted" class="modal-title">
            More Information is Needed
          </h5>
          <h5 *ngIf="this.hasSubmitted" class="modal-title">
            Setup Almost Complete
          </h5>
          <button
            type="button"
            class="btn-close"
            (click)="handleSessionModalReset()"
            data-bs-dismiss="modal"
          >
            X
          </button>
        </div>

        <div class="modal-body">
          <label for="sessionName" class="form-label">
            <h6 *ngIf="!this.hasSubmitted">
              What would you like your session to be named?
            </h6>
            <h6 *ngIf="this.hasSubmitted">
              Please Confirm this name and this base directory
            </h6>
          </label>

          <input
            type="text"
            class="form-control"
            placeholder="Enter a name here"
            formControlName="sessionName"
            id="sessionName"
            aria-describedby="sessionNameHelp"
          />

          <dl>
            <dt>Selected Base Directory:</dt>
            <dd>
              <em>{{ directoryResult.directory }}</em>
            </dd>
          </dl>

          <div
            id="sessionNameHelpBlock"
            class="form-alert-text"
            *ngIf="hasSubmitted && submissionFormatErr"
          >
            <p>
              <strong> ALERT: </strong>
              Your chosen name must be changed to
              <strong>"{{ formattedSubmissionName }}"</strong>
            </p>
            <p>Please click "OK" to confirm this change...</p>
          </div>
        </div>

        <div class="modal-footer" id="footer2" *ngIf="hasSubmitted">
          <button
            class="warning btn"
            data-bs-dismiss="modal"
            (click)="handleSessionModalReset()"
          >
            Cancel
          </button>

          <!-- Same as "Cancel" but doesn't close modal -->
          <button
            type="button"
            class="btn middleBtn"
            (click)="handleSessionModalReset()"
          >
            Change Name
          </button>
          <button
            type="button"
            class="positive btn"
            (click)="handleFinalSessionSetupSubmit()"
            data-bs-dismiss="modal"
          >
            OK-2
          </button>
        </div>

        <div class="modal-footer" id="footer1" *ngIf="!hasSubmitted">
          <button
            type="button"
            class="warning btn"
            data-bs-dismiss="modal"
            (click)="handleSessionModalReset()"
          >
            Cancel
          </button>
          <div class="separator"></div>
          <button type="submit" class="positive btn">OK-1</button>
        </div>
      </form>
    </div>
  </div>
</div>
