$color-green: rgba(50, 255, 50, 0.8);

@mixin blackCard {
  border-radius: calc(0.25rem + 10px);
  border: 1px solid #ffffff;
  background-color: inherit;
  box-shadow: 0px 0px 15px 5px #eeeeee;
}

@mixin rightCardButton {
  background-color: #ffffff;
  width: 100%;
  height: 100%;

  font-weight: 500;
  color: lighten(#000000, 30%);
  border-radius: calc(0.25rem + 8px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.heading {
  text-align: center;
}

.fileSearchInputSection {
  margin-top: 2rem;

  & > .row > .col-5 {
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    @include blackCard();
    padding: 0;
    display: flex;
    flex-direction: row;

    .f1 {
      padding: 1rem 0 2rem;

      .formDescriptionText {
        margin: 1rem 1rem 0 2rem;
      }
      .inputOuter {
        display: flex;
        flex-direction: column;

        input {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-right: none;
          margin-left: 1rem;
          width: auto;
        }
        .form-text {
          color: darken(#ffffff, 20%);
          margin-right: 1rem;
          margin-left: 2rem;
        }
      }
    }

    .formBtnContainer {
      width: fit-content;
      max-width: 150px;

      .formBtn {
        text-decoration: underline solid 1px;
        @include rightCardButton();
      }
    }
  }

  // dd {
  //   text-align: end;
  // }

  .rightCol {
    .rightMain {
      flex-wrap: wrap;
      min-height: 100%;

      .middle {
        padding: 0 4rem;

        .blackCard {
          padding-left: 1.5rem;
          width: auto;
          min-height: 100%;
          flex-wrap: nowrap;
          justify-content: space-between;
          @include blackCard();

          .left {
            margin: 1rem 0 1rem;
            width: max-content;
          }

          .formBtnContainer {
            padding-right: 0;
            width: fit-content;
            max-width: 100px;

            button {
              @include rightCardButton();
            }
          }
        }

        .errorDiv > .left {
          color: red;

          h3 {
            opacity: 0.6;
          }
        }
      }

      .statsSection {
        margin-left: 4rem;

        .blackCard {
          padding: 1rem 1.5rem;
          min-height: 100%;
          @include blackCard();

          .head {
            margin-bottom: 1rem;

            h3 {
              margin: 0;
            }
          }
          .dataOuter {
            > div {
              margin-bottom: 1.5rem;
              dt {
                margin-bottom: 0.5rem;
                border-bottom: 1px solid;
              }
              .list-unstyled {
                margin: 0;
                text-align: start;
              }
            }
          }
        }
      }
      .selection {
        color: $color-green;
      }
    }

    // .statsSection {
    //   margin-top: 2rem;
    //   padding-left: 0;
    //   padding-right: 0;
    //   flex-wrap: wrap;
    // }
    // .card {
    //   @include blackCard();
    //   margin: 2rem 0;
    //   // width: max-content;
    //   min-width: 250px;

    //   .card-header {
    //     display: flex;
    //     flex-direction: row;
    //     width: 100%;
    //     justify-content: space-between;
    //   }
    //   .card-body {
    //     // display: flex;
    //     // flex-direction: row;

    //     & > div {
    //       display: flex;
    //       flex-direction: row;

    //       * {
    //         margin: 0 0.25rem;
    //       }
    //     }

    //     .separator {
    //       min-width: 2px;
    //       min-height: 100%;
    //       background-color: rgb(151, 41, 60);
    //     }
    //   }
    // }
  }

  // form {
  //   width: 500px;
  //   max-width: 100%;
  //   min-width: 250px;

  //   .formSection {
  //     display: flex;
  //     flex-direction: row;
  //     border-top: 1px solid #ffffff;
  //     border-left: 1px solid #ffffff;
  //     border-radius: 12px;
  //     box-shadow: 0 0 10px 3px #eee;

  //     button {
  //       border-radius: 0 10px 10px 0;
  //       margin: 0 0 0 auto;
  //     }

  //     .labelInput {
  //       display: flex;
  //       flex-direction: column;
  //       flex: 1;

  //       label {
  //         margin: 1rem 0 1.25rem;
  //         padding: 0 6px;
  //         font-size: 1em;
  //       }
  //       input {
  //         border: none;
  //         border-radius: 10px 0 0 10px;
  //         font-size: 1em;
  //         padding: 0.5rem 1rem;
  //         outline: none;
  //       }
  //     }
  //   }
  // }
}
